@using UaiLink.Models.Enum
@model UaiLink.Models.UsuarioDto


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
    .modal-container {
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .5);
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 2000;
        display: none;
        justify-content: center;
        align-items: center;
        border: none;
        }

        .modal-container.mostrar {
            display: flex;
        }

        .done{
        }

        .Delete{
            
        }

        .delete{
            display: none;
        }

        li > button {
            font-weight: normal;
            background: none;
            border: none;
            float: right !important;
            color: #025f70;
            font-weight: 800;
        }
    </style>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UaiLink</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/Cadastro_Login.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="shortcut icon" href="../Imagens/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body style="overflow-x: hidden; background-color: #F0FFFF">

  <header>
    <div class="flex-container menu">
      <div>
        <img src="~/Imagens/Logo.svg" alt="Logo">
      </div>
          <ul class="list-items">
              <li><a href="/home/index">Home</a></li>
                @if(@ViewBag.Nome == "Logado")
                {
                    if(@ViewBag.TipoUsuario == "Aluno")
                    {
                        <li><a href="/usuario/details/@ViewBag.IdUsuario">Meu Perfil</a></li>   
                        <li><a href="/projeto/create">Criar Projetos</a></li>
                    }else
                        {
                            <li><a href="/usuario/detailsVisitante/@ViewBag.IdUsuario">Meu Perfil</a></li>   
                        }  
                }
          </ul>
          <ul class="list-items">
                @if (@ViewBag.Nome == "Deslogado")
                {
                    <li><a href="/usuario/logar" class="log-in">Entrar</a></li>
                    <li><a href="/usuario/create" class="Create-account">Criar Conta</a></li>
                }
                else
                {
                    <li><label style="margin-right: auto">@Model.Nome, </label><a href="home/deslogar" style="margin-right: auto">Sair</a></li>
                }
          </ul>
    </div>
  </header>

  <div class="Container" style="background-color: #E6E6FA; width: 900px; height: 439px; margin-left: 18%; margin-top: 30px; border-radius: 5px; box-shadow: 2px 3px 3px 0 grey;">

      <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="UsuarioID" />
                        <h1 class ="Titulo" style="margin-top: 1%; margin-bottom: 0;">Editar Perfil</h1>
                        <div title="Nome do Usuário" style="margin-top: 3%; margin-bottom: 2%">
                                <div class="Form-group">
                                <input asp-for="Nome" class="form-control" placeholder="Nome" />
                            </div>
                                    @Html.ValidationMessageFor(x => x.Nome)
                        </div>

                        <div class = "Row" style="margin-top: 2%; margin-bottom: 2%; font-size:0">
                                <div class="Form-group" title="CPF" style="width:39% ; margin-left: 10%">
                                    <input asp-for="Cpf" class="form-control" placeholder="CPF"/>
                                </div>
                                @Html.ValidationMessageFor(x => x.Cpf)
                                <div class="Form-group" title="CEP" style="width:39% ;margin-right : 10%">
                                    <input asp-for="CEP" class="form-control" placeholder="CEP" />
                                </div>
                                    @Html.ValidationMessageFor(x => x.CEP)
                        </div>

                        <div style="margin-top: 2%; margin-bottom: 2%; width:49%; margin-left: 5%">
                                    <div class="Form-group">
                                    <input asp-for="Telefone" title="Telefone" class="form-control" placeholder="Telefone"/>
                                </div>
                                    @Html.ValidationMessageFor(x => x.Telefone)
                            </div>

                        <div style="margin-top: 2%; margin-bottom: 2%">
                            <div class="Form-group" title="E-mail do Aluno">
                            <input asp-for="Email" class="form-control" placeholder="Email"/>
                        </div>
                            @Html.ValidationMessageFor(x => x.Email)
                        </div>

                        <div style="margin-top: 2%; margin-bottom: 2%">
                                <div class="Form-group" title="Senha de Acesso">
                                <input type="password" asp-for="Senha" class="form-control" placeholder="Senha" value="@Model.Senha"/>
                            </div>
                                @Html.ValidationMessageFor(x => x.Senha)
                        </div>

                        <input type="submit" value="Save" class="log-in" style="background-color: #8345D7; margin-left: 856px; margin-top: 26px">

            </form>
        </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>

</html>


