@model IEnumerable<UaiLink.Models.ProjetoDto>

@{
    ViewBag.Title = "Index";
}

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
    .modal-container {
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .5);
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 2000;
        display: none;
        justify-content: center;
        align-items: center;
        }

        .modal-container.mostrar {
            display: flex;
        }

        .done{
        }

        .delete{
            display: none;
        }

        li > button {
            font-weight: normal;
            background: none;
            border: none;
            float: right !important;
            color: #025f70;
            font-weight: 800;
        }
    </style>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="~/css/style.css" />
  <link rel="shortcut icon" href="~/Imagens/favicon.png" type="image/x-icon">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/Cadastro_Login.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <title>UaiLink</title>
</head>
<body style="background-color: #F0FFFF">
  <header>
    <div class="flex-container menu">
      <div>
        <img src="~/Imagens/Logo.svg" alt="Logo">
      </div>
      <ul class="list-items" style="margin-top: 15px;">
          <li><a href="/home/index">Home</a></li>
            @if(@ViewBag.Nome == "Logado")
            {
                if(@ViewBag.TipoUsuario == "Aluno")
                {
                    <li><a href="/usuario/details/@ViewBag.IdUsuario">Meu Perfil</a></li>   
                    <li><a href="/projeto/create">Item Portfólio</a></li>
                }else
                    {
                        <li><a href="/usuario/detailsVisitante/@ViewBag.IdUsuario">Meu Perfil</a></li>   
                    }  
            }
      </ul>
      <ul class="list-items">
            @if (@ViewBag.Nome == "Deslogado")
            {
                <li><a href="/usuario/logar" class="log-in">Entrar</a></li>
                <li><a href="/usuario/create" class="Create-account">Criar Conta</a></li>
            }else
                {
                    <li><label style="margin-right: auto; margin-top: 23px;">@ViewBag.NomeUsuario</label></li>
                }
      </ul>
    </div>
  </header>

  <h1 class ="Titulo" style="margin-top: 2%;margin-bottom: 0px;">Itens Portfólio</h1>

  <div class="card-wrapper1" style="flex-direction: column;margin-top: 10px;">
        @foreach (var item in Model)
        {     
            <div class="cardprojeto" style ="margin-bottom:20px;margin-top: 10px;height: 238px;">
                  <div class="profileprojeto">
                      <a href=""><img onclick="buscarNovidades('@item.Anexo.NomeAnexo');" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwcPtAqeX2X7etBPo5at9hDElhEEfIyFc52w&usqp=CAU" id="card-img"></a>
                      <a id="caminho" style="display:none">@item.Anexo.CampoAnexo</a>
                    <b>Anexo:</b>
                    <p style="color: #000000">@item.Anexo.NomeAnexo</p>
                  </div>
                  <div style="width: 100%; height: 100%; margin-top: 14px;">
                    <div class="info" style="margin-top: -18px;">
                        <b class ="profileprojeto" style="color: #8345D7;Font-size:22px">Tema</b>
                        <p>@item.Titulo</p>
                    </div>
                    <div class="info" style="margin-top: 13px">
                      <b class ="profileprojeto" style="color: #8345D7;Font-size:22px">Descrição</b>
                      <textarea disabled class="form-control" style="width: 100%;height: 100px;margin: 0 auto;border: none;background: #E7E9D6;resize: none" rows="3" placeholder="Descrição">@item.Descricao</textarea>
                    </div>
                  </div>
                   <div class="profileButoonAx">
                    <a id="card-imgAnexo" href="/projeto/edit/@item.ProjetoID"><img src="~/Imagens/editar.png" style="width: 100%;"></a>
                    <button id="card-imgAnexo" data-nome="nome1" data-id="@item.ProjetoID" class="deletar"><img src="~/Imagens/excluir.png" style="width: 100%;"></button>
                  </div>
                </div>
        }
        
  </div>

  <div class="modal-container" id="id01" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                   <div class="modal-content" style="width: 500px;background-color: #F0FFFF">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle" style="color: #8345D7">Excluir Projeto</h5>
                        <button type="button" id = "voltar" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <div class="form-group">
                            <p>Deseja excluir este Projeto?</p>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" id="sim" class="btn btn-danger delete-yes">Sim</button>
                        <button type="submit" id="nao" class="btn btn-primary" style="background-color: #8345D7">Não</button>
                      </div>
                    </div>
              </div>
        </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

<script>

    function buscarNovidades(nome) {
        debugger
        if(nome !== "Sem Anexo"){
            var URL = "http://127.0.0.1:8887/" + nome;
            window.open(URL, null);
        }
    }

    var id;
    $('.deletar').on('click', function(){
        debugger
        var nome = $(this).data('nome'); // vamos buscar o valor do atributo data-name que temos no botão que foi clicado
        id = $(this).data('id'); // vamos buscar o valor do atributo data-id
    });

    function modalDelete(modalID) {
            const modal2 = document.getElementById(modalID);
            modal2.classList.add('mostrar');
            modal2.addEventListener('click', (e) => {
                if(e.target.id == modalID || e.target.id == 'voltar'){
                    modal2.classList.remove('mostrar');
                }
                if(e.target.id == modalID || e.target.id == 'nao'){
                    modal2.classList.remove('mostrar');
                }
                if (e.target.id == modalID || e.target.id == 'sim') {
                    modal2.classList.remove('mostrar');

                    var jsonObjs = JSON.stringify(id);

                    jQuery.ajax({
                        type: "POST",
                        url: "/projeto/DeletarProjeto",
                        dataType: "json",
                        data: { id: jsonObjs} ,
                            success: function (data) {
                            }
                        });
                }
            })
    }
    const deletarperfil = document.querySelector('.deletar');
    deletarperfil.addEventListener('click', function () {
        modalDelete('id01');
    })

</script>

</body>
</html>

